.App {
  width: 100%;
  min-height: 100vh;
}

.main-nav {
  display: block;
  max-width: 50%;
  width: 100%;

  text-align: center;

  margin: 0 auto;
}

.main-nav a {
  display: inline-block;

  padding: 30px;
}

.content-container {
  width: 100%;
}
